$primary: #2196F3;
$light: white;

$surround: 16px;

body {
	margin: 0;
	font: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.container {
	max-width: calc(1280px - $surround * 2);
	padding: $surround $surround 0 $surround;
	margin: 0 auto;
	
	&:last-of-type {
		padding-bottom: $surround;
	}
	
	&.small {
		max-width: calc($small - $surround * 2);
	}
}

.button {
	&:hover {
		cursor: pointer;
	}
	&.disabled:hover {
		cursor: default;
	}
}

.toolbar {
	background-color: $primary;
	color: $light;
	
	$height: 64px;
	
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		padding-top: 0;
		padding-bottom: 0;
		
		height: $height;
		
		> div {
			display: flex;
		
			> div {
				padding-right: $surround;
				
				&:last-of-type {
					padding-right: 0;
				}
			}
		}
		
		a {
			color: $light;
			text-decoration: none;
		}
		
		h1, h2 {
			margin: 0;
			line-height: $height;
		}
	}
}

.notfound {
	.container {
		text-align: center;
	}
}
