@import '../../../node_modules/codemirror/lib/codemirror.css';

$primary: #2196F3;
$light: white;
$greyish: #eee;
$grey: #ccc;
$well: #f2f2f2;
$dark: #333;
$darkish: #757575;

$editorFontSize: 18px;

$surround: 24px;
$verticalSpacing: 20px;

$zDepth2: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;

body {
	margin: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: $well;
	color: $dark;
}

.container {
	max-width: calc(1280px - $surround * 2);
	padding: $verticalSpacing $surround 0 $surround;
	margin: 0 auto;
	
	&:last-of-type {
		padding-bottom: $surround;
	}
	
	&.small {
		max-width: calc($small - $surround * 2);
	}
}

.button {
	&:hover {
		cursor: pointer;
	}
	&.disabled:hover {
		cursor: default;
	}
}

.toolbar {
	background-color: $primary;
	color: $light;
	
	box-shadow: $zDepth2;
	
	$height: 64px;
	
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: stretch;
		align-content: stretch;
		padding-top: 0;
		padding-bottom: 0;
		
		height: $height;
		
		> div {
			display: flex;
		
			> div {
				padding-right: $surround;
				
				&:last-of-type {
					padding-right: 0;
				}
			}
		}
		
		a {
			color: $light;
			text-decoration: none;
		}
		
		h1, h2 {
			margin: 0;
			line-height: $height;
		}
		
		h2 {
			font-weight: normal;
		}
	}
}

.notfound {
	.container {
		text-align: center;
	}
}

.box {
	box-shadow: $zDepth2;
	
	display: flex;
	flex-direction: column;
}

hr {
	height: 1px;
	background-color: $grey;
	margin: 0;
	padding: 0;
	border: none;
}

.editor {
	$editor: 48px;

	height: $editor;
	width: 100%;
	background-color: $light;
	
	display: flex;
	flex-direction: row;
	
	> div {
		height: $editor;
		width: $editor;
		color: $dark;
		
		&.clock {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			align-content: stretch;
			
			width: calc($editor * 1.5);
			&:hover {
				background-color: transparent;
			}
		}
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		
		transition: background-color 0.1s ease-in-out;
		
		&:hover {
			background-color: $greyish;
		}
	}
	
	a {
		color: $dark;
		width: 100%;
		height: 100%;
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
	}
}

.CodeMirror {
	font-size: $editorFontSize;
}

.code {
	.CodeMirror {
		height: 300px;
	}
}

.output {
	.CodeMirror {
		height: 100px;
	}
}

textarea:disabled {
	color: $darkish;
}

$inputHeight: 48px;
$inputSize: 24px;

.record, .replay {
	input {
		height: $inputHeight;
		width: 100%;
		font-size: $inputSize;
		
		padding: 0;
		
		color: $dark;
		
		border: none;
		border-bottom: solid $grey 1px;
		
		&:focus {
			outline: none;
			border-bottom: solid $primary 2px;
			margin-bottom: -1px;
		}
		
		background-color: transparent;
	}
}

.replay {
	input {
		border-bottom: none;
		
		&:focus {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}

.replay {
	h3 {
		line-height: calc($inputHeight + 1px);
		font-size: 24px;
		margin: 0;
	}
}

.bottom {
	padding-top: 0;
}
